{% extends "main/alt_header.html" %}
{%block content%}
<div class="container" id="Privacy">
    <div class="row">
        <div class="col s12">
            <p class="z-depth-5"></p>
            <div class="card grey darken-4 hoverable center-align">
                <div class="card-content white-text">
                    <span class="card-title orange-text text-lighten-1"><strong>Credits</strong></span>
                    <p>Last updated: May 10 2022</p><br>

                    <p><strong>Learning Resources:</strong></p>
                    <a href="https://www.youtube.com/c/sentdex">Sentex Django Tutorials</a><br>
                    <a href="https://docs.djangoproject.com/en/4.0/">Django documentations</a><br>
                    <a href="https://www.w3schools.com/">W3schools</a><br><br>

                    <p><strong>Contact Us</strong></p>
                    <p>If you have any questions about the credits, please use the <a href="/#Contacts">contact form</a>.</p>

                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}