
{%block content%}
<div class="container" id="About">
<div class="card grey darken-4">
    <div class="card-content  ">
      <span id="about_title" class="card-title orange-text text-lighten-1" ><strong>About</strong></span>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab grey darken-4"><a href="#test4" style="color: #ff1744;"><strong>Bio</strong></a></li>
        <li class="tab grey darken-4"><a href="#test5" style="color: #ff1744;"><strong>Education</strong></a></li>
        <li class="tab grey darken-4"><a href="#test6" style="color: #ff1744;"><strong>Skills</strong></a></li>
      </ul>
    </div>
    <div class="card-content white-text">
        <div id="test4"><p><strong>I am a passionate software engineer with a background in computer science who loves coding!</strong></p>
        <p><strong>I have experience working on projects based on C, JAVA, SQL, Python, Django, and Bootstrap as</strong>
        <strong>well as SEO, analytics, and Advertising skills by working on Shopify dropshipping stores, Facebook advertising, and a successful Youtube Channel.</strong></p></div>
      <div id="test5"><h4>YORK UNIVERSITY</h4><p><strong> Bachelor of computer science</strong></p></div>
      <div id="test6"><p><strong>Experience in:<br> C <br> Java <br> Python <br> Django  <br> HTML <br> CSS <br> Javascript <br> SQL <br> Web-development <br> Analytics <br> Online Advertising <br> SEO 
      </strong></p></div>
    </div>
  </div>
</div>

  {%endblock%}