{%block content%}
<div class="container" id="Contacts">
    <div class="card grey darken-4 ">
        <div class="card-content white-text">
            <span id="about_title" class="card-title  orange-text text-lighten-1" ><strong>Contact Me</strong></span>
        </div>
          
            <div class="row " id="form">   
                <form class="col s12" action="/" method="post">      
                    {% csrf_token %}
                    {{form}}
                    <div class="row">
                        <div class="input-field col offset-s10">
                                <button class="btn waves-effect red accent-3 " type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                  </button>
                        </div>          
                            
                    </div>
                </form>
            </div>        
    </div>

</div>


{%endblock%}
