{%block content%}

         <footer class="page-footer grey darken-4">
            <div class="container ">
              <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/jansiz/" target="_blank">linkedin</a></li>
                      <li><a class="grey-text text-lighten-3" href="https://github.com/Jansiz" target="_blank">Github</a></li>
                      <li><a class="grey-text text-lighten-3" href="https://discord.gg/2yMmweVk" target="_blank">Discord</a></li>
                      <li><a class="grey-text text-lighten-3" href="mailto:ali.jansizzz@gmail.com">Email</a></li>
                    </ul>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Legal</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="terms.html">Terms and Conditions</a></li>
                    <li><a class="grey-text text-lighten-3" href="privacy.html">Privacy Policy</a></li>
                    <li><a class="grey-text text-lighten-3" href="licenses.html">Licenses</a></li>
                    <li><a class="grey-text text-lighten-3" href="credits.html">Credits</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container" id="copyright">
              © 2022 Ali Jansiz
            
              </div>
            </div>
          </footer>
{%endblock%}